<div class="help-pane" ng-show='display_help' ng-init="show_help(false)">
   <span class="close" ng-click="show_help(false)">x</span>
   <h1><class class="fr"> Consignes pour la vidéo </class><class class="en">Video Instructions</class></h1>
   <div class="fr">
          <p>La vidéo doit représenter une œuvre ou un ensemble d’extraits d’œuvres
    réalisés par le, la candidat·e et lui paraissant
    particulièrement représentatif de sa démarche
    artistique ou de son travail. Un seul fichier d'une durée de 8 minutes au format numérique doit être envoyé
    (exemple: 3 extraits vidéo, ou encore un
    diaporama de photographies, ou un ensemble
    d’extraits sonores, une ou plusieurs captations
    vidéo d’installations, etc…). <br/>Chaque extrait
    d’œuvre devra être précédé d’un carton texte
    spécifiant la nature et le contexte de l’œuvre. Ces
    éléments du dossier seront vus successivement
    par les deux jurys.</p>
    <p>
      Il est important de noter que ce document vidéo est le seul qui sera vu par les membres du jury de l'entretien.
    </p>
    
   </div>
   <div class="en">
      <p>The video must presenting a work or several extracts of works made by the
      candidate and which are representative of his/
      her specific practice. Only one file in digital format can be sent, 8 minutes maximum length, organised as the
      candidate wishes (for example: 3 video extracts,
      or a diaporama of photographs or a series of
      sound excerpts, or one or several views of video
      installations, etc.). Each extract of work should
      be preceded by a label indicating the nature and
      context of the work. This part of the application
      will be seen by two different juries.</p>
      <p>
        Moreover, the jury will look at the visual material
      lasting 8 minutes maximum in the candidate’s
      portfolio (see artistic portfolio above).
      The candidate should note the importance of
      these documents, which are the only ones to be
      examined at all two stages of the selection
      process.
    </p>
    <p>It's important to note that this video document is the only one that will be viewed by members of the interview jury, 
      who are not part of the pre-selection jury.</p>        

    </div>
</div>

   <div class="">
      <h1>
         <span class="fr">Éléments visuels</span>
         <span class="en">Visual elements</span>
      </h1>
      <form name="form1" ng-submit="form.$valid && submit()" class="css-form" novalidate>
      <div class="fr">
         <p>
            Merci de déposer une <a class="pointer" ng-click="show_help(true)">vidéo</a> mettant en lumière une œuvre (ou un ensemble d’extraits d’œuvres) 
            que vous avez réalisée et qui vous semble particulièrement représentative de votre démarche artistique.  
         </p>
         <p>Cette vidéo d’une <strong>durée maximale de 8 minutes</strong> sera vue successivement par le jury de préselection puis par le jury de l’entretien oral. </p>
         <p><a class="pointer" ng-click="show_help(true)">Consignes relatives à la vidéo à fournir</a></p>
         

      </div>
      <div class="en">
         <p>Submit a <a class="pointer" ng-click="show_help(true)">video</a> that showcases the most representative part of your work.</p>
         <p>This video, with a <strong>maximum length of 8 minutes</strong> will be viewed twice: once by the pre-selection 
            jury and a second time by the interview jury.</p>
         <p><a class="pointer" ng-click="show_help(true)">Instructions regarding the video to be provided </a></p>
      </div>

      <blockquote>
         <p class="fr"><strong>À noter : </strong><br>
         Le jury de présélection disposera de cette vidéo ainsi que de l’ensemble des éléments de votre dossier de candidature (note d’intention, cv, etc …). <br>
         Si vous êtes présélectionné·e, cette vidéo sera l’unique document diffusé lors de l’entretien oral. Le jury n’aura pas connaissance des autres éléments de votre dossier de candidature.
         </p>          

         <p class="en"><strong>Note: </strong><br>
            The pre-selection jury will have access to this video along with all other elements of your application (statement of intent, CV, etc.).
            If you are preselected, this video will be the only document shown during the oral interview. The jury will not have knowledge of other elements in your application.
         </p>          
      </blockquote>

      <div class="" style="margin: 1em 0em;">
         
         <p class="fr">Merci de préciser pour chacune des œuvres présentées dans la vidéo, la nature, le contexte et votre rôle précis.<br/></p>
         <p class="en">Please specify for each of the works presented in the video, the nature, the context and your precise role.<br/></p>
         <textarea
            ng-model="candidature.presentation_video_details"
            ng-model-options='{ debounce: 300 }'
            ng-change="candidature.patch({presentation_video_details : candidature.presentation_video_details||''})"
            placeholder=""
            rows="6"
            name="video-details"
            required
            >
         </textarea>
         <label for="video-details">
            <span class="field-state required"></span>
            <span class="fr">Contenus visuels <span ng-class="{'text-danger big': candidature.presentation_video_details.length > 560}">{{candidature.presentation_video_details.length}}</span>/560 caractères</span>
            <span class="en">Visual content <span ng-class="{'text-danger big': candidature.presentation_video_details.length > 560}">{{candidature.presentation_video_details.length}}</span>/560 characters</span>
         </label>

      </div>

      <!-- !candidature.presentation_video -->
      <div ng-show="!candidature.presentation_video"> 
         <hr/>
            <div >
               <h4>
                  <span class="fr">Téléverser votre vidéo</span>
                  <span class="en">Upload your video</span>

               </h4>
               <br/>
               <!-- inupt -->
               <div>
                  <p class="fr">Vous ne pourrez pas continuer d'éditer votre dossier de candidature pendant le téléversement de la vidéo,
                        cela peut prendre de quelques minutes à quelques heures selon votre connexion.<br/>

                     </p>
                  <p class="en">Note that during uploading, you cannot continue to edit your application.
                        The upload may take a few minutes or a few hours, depending on your connection.
                  </p>
                  <div ng-model="video" name="uVideo"
                     ngf-select="uploadVimeo(video, candidature, 'presentation_video')"
                     ngf-drop="uploadVimeo(video, candidature, 'presentation_video')"
                     ngf-capture="'camera'"
                     accept="video/*"
                     ngf-accept="'video/*'"
                     ngf-pattern="'video/*'"
                     ngf-model-invalid="invalidVideo"
                     ng-show="!candidature.presentation_video"
                     class="media-upload"
                     ng-show='!candidature.presentation_video'
                     >
                     <span class="upload-file" />
                  </div>
                  <div ng-show="invalidVideo.$errorMessages" ng-messages="invalidVideo.$errorMessages" class="help-block error">
                     <div ng-message="pattern">
                        <span class="fr">Fichier non reconnu comme étant une vidéo</span>
                        <span class="en">this is not a vidéo file</span>
                     </div>
                  </div>
               </div>
               <!-- // inupt -->
               
               <br/>

            </div>
      <hr/>
      </div> 
      <!-- // !candidature.presentation_video -->
      <!-- input url video -->
      <div ng-if="candidature.presentation_video">
       <input
            type="url"
            id = "video"
            name = "cVideo"
            ng-model="candidature.presentation_video"
            ng-model-options='{ debounce: 1000 }'
            ng-change="candidature.patch({presentation_video : candidature.presentation_video||''})"
            placeholder="https://vimeo.com/564138269/b53df1b3f1"
            required
            disabled
            />
         <div ng-show="form1.cVideo.$touched && form1.cVideo.$invalid" ng-messages="form1.cVideo.$error" class="help-block error">
            <div ng-message="required">
               <span class="fr">Obligatoire</span>
               <span class="en">required</span>
            </div>
            <div ng-message="url">
               <span class="fr">URL mal formatée</span>
               <span class="en">Error url</span>
            </div>
            <div ng-message="pattern">
               <span class="fr">Le domaine n'est pas accepté</span>
               <span class="en">Domain not accepted</span>
            </div>
         </div>
         <label for="video">
             <span class="field-state required"></span>
             <span class="fr">Lien vidéo (8 minutes maximum) url</span>
             <span class="en">VIDEO LINK (8 MINUTES MAXIMUM) url</span>
         </label>
      </div>
      <!-- // input url video -->

      <!-- candidature.presentation_video -->
         <div>
            <div ng-if="candidature.presentation_video">
               
               <div ng-if="candidature.presentation_video && candidature.presentation_video.indexOf('player.vimeo.com/video')>0 && !_isAvailableVideo">
                  <div ng-if="!_isErrorVideo">
                      <strong>
                        <span class="fr">
                           La vidéo est bien envoyée et sera disponible pour vérification dans quelques minutes,
                           n'hésitez pas à revenir plus tard sur votre inscription pour la consulter
                        </span>
                        <span class="en">The video has been sent and will be available for verification in several minutes,
                           do not hesitate to come back to your inscription to consult it.</span>
                     </strong>
                  </div>

                  <div ng-if="_isErrorVideo" class="bg-warning text-warning">
                     <span class="fr">Une erreur est survenue lors de l'envoi de la vidéo, veuillez réessayer </span>
                     <span class="en">An error occurred while sending the video, please try again</span>  
                     <button class="btn grey" ng-click='_isErrorVideo=false;candidature.presentation_video=""'>Reset</button> 
                  </div>
               </div>

               <div ng-if="candidature.presentation_video && candidature.presentation_video.indexOf('player.vimeo.com/video')>0 && _isAvailableVideo">
                  <div class="embed-responsive embed-responsive-16by9">
                     <iframe class="embed-responsive-item" ng-src="{{ trustSrc(candidature.presentation_video) }}" allowfullscreen></iframe>
                  </div>
                  <a class="btn block"  ng-show="_isAvailableVideo && candidature.presentation_video.indexOf('player.vimeo.com/video')>0"
                     ng-click='deleteVimeoVideo(candidature.presentation_video.split("/").pop(), candidature, "presentation_video")'>
                        <span class="fr"><i class="trash"> </i>Effacer la vidéo</span>
                        <span class="en">delete video</span>
                  </a>
               </div>
            </div>
            
         </div>
      <!-- // candidature.presentation_video -->
      

   </form>
   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.artistic-background"><span class="fr">Retour</span><span class="en">Back</span></a>
      <a class="btn next" ui-sref="candidature.previous-applications"><span class="fr">Continuer</span><span class="en">Continue</span></a>
   </div>
</div>
