<div class="expired-page">



  <h1>
    <span class="fr">Inscriptions {{campaign.promotion.starting_year}}</span>
    <span class="en">Application {{campaign.promotion.starting_year}}</span>
  </h1>
  <div class="fr">
  <p>
    Les inscriptions au concours {{campaign.promotion.starting_year}} seront possibles à partir du
    <strong>{{ campaign.candidature_date_start | date : "EEEE d MMMM yyyy à HH'h'" | translate_en_to_fr | lowercase }}</strong> et jusqu'au 
    <strong>{{ campaign.candidature_date_end | date : "EEEE d MMMM yyyy à HH'h'" | translate_en_to_fr | lowercase }}</strong>.<br/>
    Dans cette attente nous vous proposons de
    <a href="http://app.lefresnoy.net/candidatures/assets/procedure.php"
      target="_blank">
      télécharger la procédure</a>,
    qui vous donnera toutes les informations
    afin de préparer votre inscription.</p>
    <p>
      Rappel du calendrier : 
    </p>
      <ul class="list-unstyled">
         
        <li>› Date limite d’inscription et de dépôt du dossier artistique en ligne : 
           <strong>{{ campaign.candidature_date_end | no_timezone | date : "EEEE d MMMM" | translate_en_to_fr | lowercase }}</strong>.</li>
         <li>› Portes ouvertes : <strong>{{ campaign.information_and_tour_date | no_timezone | date : "EEEE d MMMM yyyy à HH'h'" | translate_en_to_fr | lowercase }} précises (heure de Paris)</strong>.</li>
         <li>› Présélection sur dossier, annonce des résultats :
           <strong>{{ campaign.interviews_publish_date | date : "EEEE d MMMM yyyy à HH'h'" | translate_en_to_fr | lowercase }}</strong>
         </li>
         <li>› Entretiens oraux du 
            <strong>{{ campaign.interviews_start_date | date : "EEEE dd MMMM" | translate_en_to_fr | lowercase }}</strong>
            au
            <strong>{{ campaign.interviews_end_date | date : "EEEE dd MMMM yyyy" | translate_en_to_fr | lowercase }}</strong>
         </li>
         <li>› Annonce des résultats :
            <strong>{{ campaign.selected_publish_date | date : "EEEE dd MMMM yyyy à HH'h'" | translate_en_to_fr | lowercase }}</strong>
          </li>
      </ul>
      <hr class="dashed"/>
    <p>
     Vous pouvez inscrire votre email pour être informé de l'ouverture des inscriptions<br/>
     <div class="input-group">
        <span class="input-group-addon" style="background-color: black; color: white;">
            <i class="glyphicon glyphicon-envelope"></i>
        </span>
  
        <input class="form-control" type="email" placeholder="E-mail" ng-model="email"/>
        <a class="input-group-addon" style="background-color: black; color: white;"
         ng-href="https://www.lefresnoy.net/newsletter/?news_email={{email}}&prefs=concours" 
         target="_blank" ng-click="subscribe(email)">S'inscrire</a>
     </div>
    <span ng-if="subscribed" style="color:green">Merci !</span>
  </p>
  </div>
  
  <hr class="dashed"/>
  <div class="en">
  <p>
    <span class="en">
    The {{campaign.promotion.starting_year}} applications process opens on <br/>

    <strong>{{ campaign.candidature_date_start | date : "EEEE MMMM d, yyyy 'at' h a" }}</strong> until
    <strong>{{ campaign.candidature_date_end | date : "EEEE d MMMM yyyy 'at' h a" }}</strong>.<br/>
    A full information pack can be
    <a href="http://app.lefresnoy.net/candidatures/assets/procedure.php"
      target="_blank">  downloaded</a>
      
    to guide candidates through this procedure.
  </p>
  <p>Schedule:</p>
  <ul class="list-unstyled">
           <li>› Deadline for registration and submission of artistic portfolio online:
          <strong>{{ campaign.candidature_date_end | no_timezone  | date : "EEEE d MMMM, yyyy" }}, Paris time</strong>.</li>
          <li>› Information and tour: <strong>{{ campaign.information_and_tour_date | no_timezone | date : "EEEE MMMM d, yyyy  'at' h a" }}, 
            Paris time</strong>.</li>
         <li>› Results of the preselection procedure:
            <strong>{{ campaign.interviews_publish_date | date : "EEEE MMMM d, yyyy 'at' h a" }}</strong>
         </li>
         <li>› Interviews, from <strong>
           {{ campaign.interviews_start_date | date : "EEEE MMMM d" }} to
           {{ campaign.interviews_end_date | date : "EEEE MMMM d, yyyy" }}</strong>.
         </li>
         <li>› Results of the selection procedure:
           <strong>{{ campaign.selected_publish_date | date : "EEEE MMMM d, yyyy 'at' h a" }}</strong>.</li>
      </ul>
      <hr class="dashed"/>
    <p>You can subscribe with your email to be informed when registration opens<br/>
    <div class="input-group">
        <span class="input-group-addon" style="background-color: black; color: white;">
            <i class="glyphicon glyphicon-envelope"></i>
        </span>
  
        <input class="form-control" type="email" placeholder="E-mail" ng-model="email"/>
        <a class="input-group-addon" style="background-color: black; color: white;"
         ng-href="https://www.lefresnoy.net/newsletter/?news_email={{email}}&prefs=concours" 
         target="_blank" ng-click="subscribe(email)">Subscribe</a>
     </div>
  
    <span ng-if="subscribed" style="color:green">Thank you!</span>
  </p>
  </div>

   <div class="navigation">
     <a ng-if="campaign.candidature_open" class="btn prev" ui-sref="candidature"><span class="fr">Retour</span><span class="en">Back</span></a>
   </div>
</div>
